{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{ 'front.tradelaw.title'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    <dl>
                        <dt>
                            <label class="ec-label">販売業者</label>
                        </dt>
                        <dd>株式会社ルナソル</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">代表責任者</label>
                        </dt>
                        <dd>正殿 桂一
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">所在地</label>
                        </dt>
                        <dd>東京都港区芝2-5-8-1204

                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">電話番号</label>
                        </dt>
                        <dd>03-5389-0505</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">メールアドレス</label>
                        </dt>
                        <dd><a href="mailto:">support@prentyweb.net</a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">URL</label>
                        </dt>
                        <dd><a href="https://prentyweb.net">https://prentyweb.net</a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">商品代金以外の必要料金</label>
                        </dt>
                        <dd>消費税、送料、代引きの場合は代引き手数料</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">引き渡し時期</label>
                        </dt>
                        <dd>●お届け日
平日、月曜日から金曜日までの朝9時までのご注文に関して、発送準備ができ次第、順次発送の手配をさせていただきます。
※配達希望日の指定がない場合は、順次発送の手配をいたします。
土日祝日のご注文に関してはお休み明けの発送となります。</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">お支払方法</label>
                        </dt>
                        <dd>●クレジットカード
・各種クレジットカードが利用可能です。
・クレジットカードでのお支払い方法は一括払いのみとなっております。</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">返品・交換について</label>
                        </dt>
                        <dd>※当店では、お客様都合による返品、交換は一切受け付けておりません。<BR>
商品の品質には万全を期しておりますが、万一商品が破損していた、またご注文と異なった商品が届いた場合、7日以内にご連絡下さい。<BR>
(未開封のみご注文日より7日以内なら返品可。開封前に必ず商品をご確認ください。)<BR>
また、ご連絡がなく直接商品をご返送されましても返金のお手続きが出来ませんので、必ず事前にご連絡ください。<BR>
【商品の保証について】<BR>
●商品の保証については、メーカー保証のみとなります<BR>
メーカー保証期間内の場合、修理代金は原則メーカー負担となります。<BR>
送料に関しましては、当店に商品を送っていただく場合、お客様負担(元払い)にてお送りください。<BR>
【返品、交換をお受けできない商品】<BR>
・ お届けから7日以上経過した商品。<BR>
・ お客様が汚損、破損された商品。<BR>
・ 商品の箱などが破損、紛失、破棄された商品。</PRE></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}