{#<div class="product__type">#}
{#    <div class="wrap">#}
{#        <div class="row">#}
{#            <div class="col-6 col-md-3 mb-2 mb-3 mb-md-0">#}
{#                <a href="#">#}
{#                    <div class="product__type-thumb">#}
{#                                <span>#}
{#                                    <img src="{{ asset("assets/img/data/product-type-1.jpg") }}" alt="">#}
{#                                </span>#}
{#                    </div>#}
{#                    <p class="product__type-name">カテゴリー</p>#}
{#                </a>#}
{#            </div>#}
{#            <div class="col-6 col-md-3 mb-2 mb-3 mb-md-0">#}
{#                <a href="#">#}
{#                    <div class="product__type-thumb">#}
{#                                <span>#}
{#                                    <img src="{{ asset("assets/img/data/no_image_store.jpg") }}" alt="">#}
{#                                </span>#}
{#                    </div>#}
{#                    <p class="product__type-name">カテゴリー</p>#}
{#                </a>#}
{#            </div>#}
{#            <div class="col-6 col-md-3 mb-2 mb-3 mb-md-0">#}
{#                <a href="#">#}
{#                    <div class="product__type-thumb">#}
{#                                <span>#}
{#                                    <img src="{{ asset("assets/img/data/product-type-1.jpg") }}" alt="">#}
{#                                </span>#}
{#                    </div>#}
{#                    <p class="product__type-name">カテゴリー</p>#}
{#                </a>#}
{#            </div>#}
{#            <div class="col-6 col-md-3 mb-2 mb-3 mb-md-0">#}
{#                <a href="#">#}
{#                    <div class="product__type-thumb">#}
{#                                <span>#}
{#                                    <img src="{{ asset("assets/img/data/no_image_store.jpg") }}" alt="">#}
{#                                </span>#}
{#                    </div>#}
{#                    <p class="product__type-name">カテゴリー</p>#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
