<div class="qa-content">
    <div class="wrap">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 mb-2">
                <a href="#">
                    <div class="qa-thumb">
                        <img src="{{ asset("assets/img/data/img-2-400x400.jpg") }}" alt="">
                    </div>
                    <p class="qa-text">初めての方へ</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-2">
                <a href="#">
                    <div class="qa-thumb">
                        <img src="{{ asset("assets/img/data/img-5-400x400.jpg") }}" alt="">
                    </div>
                    <p class="qa-text">初めての方へ</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-2">
                <a href="#">
                    <div class="qa-thumb">
                        <img src="{{ asset("assets/img/data/img-2-400x400.jpg") }}" alt="">
                    </div>
                    <p class="qa-text">初めての方へ</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-2">
                <a href="#">
                    <div class="qa-thumb">
                        <img src="{{ asset("assets/img/data/img-5-400x400.jpg") }}" alt="">
                    </div>
                    <p class="qa-text">初めての方へ</p>
                </a>
            </div>
        </div>
    </div>
</div>